GOOGLE_APPLICATION_CREDENTIALS="/path/to/your/credentials.json"
GOOGLE_CLOUD_PROJECT="your-project-id"
FRONTEND_URL="https://your-frontend-url"
BUCKET_NAME="your-bucket-name"
DATASET_ID="your-dataset-id"
MUSP_API_KEY="your-api-key"
ENV="development"
WORKER_LAUNCHER_URL=http://localhost:8080