# coding: utf-8

{{>partial_header}}

import os

from fastapi import FastAPI
from fastapi.middleware.cors import CORSMiddleware

{{#apiInfo}}
{{#apis}}
from {{apiPackage}}.{{classFilename}} import router as {{classname}}Router
{{/apis}}
{{/apiInfo}}

origins = [
    os.getenv("FRONTEND_URL"),
]

app = FastAPI(
    title="{{appName}}",
    description="{{appDescription}}",
    version="{{appVersion}}",
)

app.add_middleware(
    CORSMiddleware,  # type: ignore
    allow_origins=origins,  # 許可するオリジン
    allow_credentials=True,
    allow_methods=["*"],
    allow_headers=["*"],
)

{{#apiInfo}}
{{#apis}}
app.include_router({{classname}}Router)
{{/apis}}
{{/apiInfo}}
