NEXT_PUBLIC_API_URL=https://musp-api.aooba.net
NEXT_PUBLIC_MUSP_API_KEY=your-musp-api-key
NEXT_PUBLIC_FIREBASE_APIKEY=your-firebase-api-key
NEXT_PUBLIC_AUTHDOMAIN=musp-8f9bd.firebaseapp.com
NEXT_PUBLIC_PROJECTID=musp-8f9bd
NEXT_PUBLIC_STORAGEBUCKET=musp-8f9bd.firebasestorage.app
NEXT_PUBLIC_MESSAGINGSENDERID=your-messaging-sender-id
NEXT_PUBLIC_APPID=your-app-id
NEXT_PUBLIC_MEASUREMENTID=your-measurement-id
